/*
 * Report Portal
 * Report Portal UAT documentation
 *
 * OpenAPI spec version: 5.3.0-SNAPSHOT-BUILD-339
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.uat;

import com.epam.http.annotations.ContentType;
import com.epam.http.annotations.POST;
import com.epam.http.annotations.QueryParameter;
import com.epam.http.annotations.ServiceDomain;
import com.epam.http.requests.RestDataMethod;
import com.epam.jdi.model.OperationCompletionRS;

import static io.restassured.http.ContentType.JSON;

@ServiceDomain("${uat}")
public class GithubEndpointApi {

    /**
     * Synchronizes logged-in GitHub user
     *
     * @param oauth2RequestApproved /query/  (optional)
     * @param oauth2RequestAuthorities0Authority /query/  (optional)
     * @param oauth2RequestGrantType /query/  (optional)
     * @param oauth2RequestRedirectUri /query/  (optional)
     * @param oauth2RequestRefresh /query/  (optional)
     * @param oauth2RequestRefreshTokenRequestGrantType /query/  (optional)
     * @param oauth2RequestResourceIds /query/  (optional)
     * @param oauth2RequestResponseTypes /query/  (optional)
     * @param authenticated /query/  (optional)
     * @param authorities0Authority /query/  (optional)
     * @param clientOnly /query/  (optional)
     * @param credentials /query/  (optional)
     * @param details /query/  (optional)
     * @param name /query/  (optional)
     * @param principal /query/  (optional)
     * @param userAuthenticationAuthenticated /query/  (optional)
     * @param userAuthenticationAuthorities0Authority /query/  (optional)
     * @param userAuthenticationCredentials /query/  (optional)
     * @param userAuthenticationDetails /query/  (optional)
     * @param userAuthenticationPrincipal /query/  (optional)
     * @return OperationCompletionRS
     */
    @ContentType(JSON)
    @QueryParameter(name = "oauth2RequestApproved", value = "true")
    @QueryParameter(name = "oauth2RequestAuthorities0Authority", value = "oauth2RequestAuthorities0Authority_example")
    @QueryParameter(name = "oauth2RequestGrantType", value = "oauth2RequestGrantType_example")
    @QueryParameter(name = "oauth2RequestRedirectUri", value = "oauth2RequestRedirectUri_example")
    @QueryParameter(name = "oauth2RequestRefresh", value = "true")
    @QueryParameter(name = "oauth2RequestRefreshTokenRequestGrantType", value = "oauth2RequestRefreshTokenRequestGrantType_example")
    @QueryParameter(name = "oauth2RequestResourceIds", value = "oauth2RequestResourceIds_example")
    @QueryParameter(name = "oauth2RequestResponseTypes", value = "oauth2RequestResponseTypes_example")
    @QueryParameter(name = "authenticated", value = "true")
    @QueryParameter(name = "authorities0Authority", value = "authorities0Authority_example")
    @QueryParameter(name = "clientOnly", value = "true")
    @QueryParameter(name = "credentials", value = "credentials_example")
    @QueryParameter(name = "details", value = "details_example")
    @QueryParameter(name = "name", value = "name_example")
    @QueryParameter(name = "principal", value = "principal_example")
    @QueryParameter(name = "userAuthenticationAuthenticated", value = "true")
    @QueryParameter(name = "userAuthenticationAuthorities0Authority", value = "userAuthenticationAuthorities0Authority_example")
    @QueryParameter(name = "userAuthenticationCredentials", value = "userAuthenticationCredentials_example")
    @QueryParameter(name = "userAuthenticationDetails", value = "userAuthenticationDetails_example")
    @QueryParameter(name = "userAuthenticationPrincipal", value = "userAuthenticationPrincipal_example")
    @POST("/sso/me/github/synchronize")
    public static RestDataMethod<OperationCompletionRS> synchronizeUsingPOSTJSON;
}
