/*
 * Report Portal
 * Report Portal UAT documentation
 *
 * OpenAPI spec version: 5.3.0-SNAPSHOT-BUILD-339
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.uat;

import com.epam.http.annotations.ServiceDomain;
import com.epam.http.requests.RestDataMethod;
import com.epam.http.annotations.ContentType;
import static io.restassured.http.ContentType.JSON;
import com.epam.jdi.model.OAuthRegistrationResource;
import com.epam.jdi.model.OperationCompletionRS;
import com.epam.http.annotations.DELETE;
import com.epam.http.annotations.GET;
import com.epam.http.annotations.POST;
import com.epam.http.annotations.PUT;

import java.util.Map;

@ServiceDomain("${uat}")
public class OAuthConfigurationEndpointApi {

  /**
   * Deletes OAuth Integration Settings
   * 
   * @param authId /path/ authId (required)
   * @return OperationCompletionRS
  */
  @DELETE("/settings/oauth/{authId}")
  public static RestDataMethod<OperationCompletionRS> deleteOAuthSettingUsingDELETE;

  /**
   * Returns OAuth Server Settings
   * 
   * @param authId /path/ authId (required)
   * @return OAuthRegistrationResource
  */
  @GET("/settings/oauth/{authId}")
  public static RestDataMethod<OAuthRegistrationResource> getOAuthSettingsUsingGET;

  /**
   * Returns OAuth Server Settings
   * 
   * @return Map<String, OAuthRegistrationResource>
  */
  @GET("/settings/oauth")
  public static RestDataMethod<Map<String, OAuthRegistrationResource>> getOAuthSettingsUsingGET1;

  /**
   * Creates/Updates OAuth Integration Settings
   * 
   * @param authId /path/ authId (required)
   * @param clientRegistrationResource(OAuthRegistrationResource) /body/ clientRegistrationResource (required)
   * @return OAuthRegistrationResource
  */
  @ContentType(JSON)
  @POST("/settings/oauth/{authId}")
  public static RestDataMethod<OAuthRegistrationResource> updateOAuthSettingsUsingPOSTJSON;

  /**
   * Creates/Updates OAuth Integration Settings
   * 
   * @param authId /path/ authId (required)
   * @param clientRegistrationResource(OAuthRegistrationResource) /body/ clientRegistrationResource (required)
   * @return OAuthRegistrationResource
  */
  @ContentType(JSON)
  @PUT("/settings/oauth/{authId}")
  public static RestDataMethod<OAuthRegistrationResource> updateOAuthSettingsUsingPUTJSON;
}
