/*
 * Report Portal
 * Report Portal API documentation
 *
 * OpenAPI spec version: 5.2.0
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.api;

import com.epam.http.annotations.*;
import com.epam.http.requests.DataMethod;
import com.epam.jdi.model.PostFormField;
import com.epam.jdi.model.Ticket;

import static io.restassured.http.ContentType.JSON;

@ServiceDomain("${api}")
public class BugTrackingSystemControllerApi {

    /**
     * Post ticket to the bts integration
     *
     * @param integrationId /path/ integrationId (required)
     * @param projectName /path/ projectName (required)
     * @param ticketRQ(PostTicketRQ) /body/ ticketRQ (required)
     * @return Ticket
     */
    @ContentType(JSON)
    @POST("/v1/bts/{projectName}/{integrationId}/ticket")
    public static DataMethod<Ticket> createIssueUsingPOSTJSON;

    /**
     * Get list of fields required for posting ticket
     *
     * @param integrationId /path/ integrationId (required)
     * @return String[]
     */
    @GET("/v1/bts/{integrationId}/issue_types")
    public static DataMethod<String[]> getAllowableIssueTypesUsingGET;

    /**
     * Get list of allowable issue types for bug tracking system
     *
     * @param integrationId /path/ integrationId (required)
     * @param projectName /path/ projectName (required)
     * @return String[]
     */
    @GET("/v1/bts/{projectName}/{integrationId}/issue_types")
    public static DataMethod<String[]> getAllowableIssueTypesUsingGET1;

    /**
     * Get list of fields required for posting ticket
     *
     * @param integrationId /path/ integrationId (required)
     * @param issueType /query/ issueType (required)
     * @return PostFormField[]
     */
    @QueryParameter(name = "issueType", value = "issueType_example")
    @GET("/v1/bts/{integrationId}/fields-set")
    public static DataMethod<PostFormField[]> getSetOfIntegrationSystemFieldsUsingGET;

    /**
     * Get list of fields required for posting ticket
     *
     * @param integrationId /path/ integrationId (required)
     * @param projectName /path/ projectName (required)
     * @param issueType /query/ issueType (required)
     * @return PostFormField[]
     */
    @QueryParameter(name = "issueType", value = "issueType_example")
    @GET("/v1/bts/{projectName}/{integrationId}/fields-set")
    public static DataMethod<PostFormField[]> getSetOfIntegrationSystemFieldsUsingGET1;

    /**
     * Get ticket from the bts integration
     *
     * @param projectName /path/ projectName (required)
     * @param ticketId /path/ ticketId (required)
     * @param btsProject /query/ btsProject (required)
     * @param btsUrl /query/ btsUrl (required)
     * @return Ticket
     */
    @QueryParameter(name = "btsProject", value = "btsProject_example")
    @QueryParameter(name = "btsUrl", value = "btsUrl_example")
    @GET("/v1/bts/{projectName}/ticket/{ticketId}")
    public static DataMethod<Ticket> getTicketUsingGET;
}
