/*
 * Report Portal
 * Report Portal API documentation
 *
 * OpenAPI spec version: 5.2.0
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.api;

import com.epam.http.annotations.ContentType;
import com.epam.http.annotations.POST;
import com.epam.http.annotations.ServiceDomain;
import com.epam.http.requests.DataMethod;
import com.epam.jdi.model.DemoDataRs;

import static io.restassured.http.ContentType.JSON;

@ServiceDomain("${api}")
public class DemoDataControllerApi {

    /**
     * generate
     *
     * @param projectName /path/ projectName (required)
     * @param demoDataRq(DemoDataRq) /body/ demoDataRq (required)
     * @return DemoDataRs
     */
    @ContentType(JSON)
    @POST("/v1/demo/{projectName}")
    public static DataMethod<DemoDataRs> generateUsingPOSTJSON;
}
