/*
 * Report Portal
 * Report Portal API documentation
 *
 * OpenAPI spec version: 5.2.0
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.api;

import com.epam.http.annotations.ServiceDomain;
import com.epam.http.requests.RestMethod;

import com.epam.http.annotations.ContentType;
import com.epam.jdi.model.FinishExecutionRQ;
import com.epam.jdi.model.FinishLaunchRS;
import static io.restassured.http.ContentType.JSON;
import com.epam.jdi.model.LaunchResource;
import com.epam.jdi.model.MergeLaunchesRQ;
import com.epam.jdi.model.StartLaunchRQ;
import com.epam.jdi.model.StartLaunchRS;
import com.epam.http.annotations.POST;
import com.epam.http.annotations.PUT;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@ServiceDomain("${domain}")
public class LaunchAsyncControllerApi {

  /**
   * Finish launch for specified project
   * 
   * @param launchId /path/ launchId (required)
   * @param projectName /path/ projectName (required)
   * @param finishLaunchRQ(FinishExecutionRQ) /body/ finishLaunchRQ (required)
   * @return FinishLaunchRS
  */
  @ContentType(JSON)
  @PUT("/v2/{projectName}/launch/{launchId}/finish")
  public static RestMethod finishLaunchUsingPUTJSON;

  /**
   * Merge set of specified launches in common one
   * 
   * @param projectName /path/ projectName (required)
   * @param mergeLaunchesRQ(MergeLaunchesRQ) /body/ Merge launches request body (required)
   * @return LaunchResource
  */
  @ContentType(JSON)
  @POST("/v2/{projectName}/launch/merge")
  public static RestMethod mergeLaunchesUsingPOSTJSON;

  /**
   * Starts launch for specified project
   * 
   * @param projectName /path/ projectName (required)
   * @param startLaunchRQ(StartLaunchRQ) /body/ Start launch request body (required)
   * @return StartLaunchRS
  */
  @ContentType(JSON)
  @POST("/v2/{projectName}/launch")
  public static RestMethod startLaunchUsingPOSTJSON;
}
