/*
 * Report Portal
 * Report Portal API documentation
 *
 * OpenAPI spec version: 5.2.0
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.api;

import com.epam.http.annotations.ServiceDomain;
import com.epam.http.requests.RestMethod;

import com.epam.http.annotations.ContentType;
import com.epam.jdi.model.EntryCreatedAsyncRS;
import static io.restassured.http.ContentType.JSON;
import com.epam.jdi.model.SaveLogRQ;
import com.epam.http.annotations.POST;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@ServiceDomain("${domain}")
public class LogAsyncControllerApi {

  /**
   * Create log
   * 
   * @param projectName /path/ projectName (required)
   * @param createLogRQ(SaveLogRQ) /body/ createLogRQ (required)
   * @return EntryCreatedAsyncRS
  */
  @ContentType(JSON)
  @POST("/v2/{projectName}/log")
  public static RestMethod createLogUsingPOSTJSON;
}
