/*
 * Report Portal
 * Report Portal API documentation
 *
 * OpenAPI spec version: 5.2.0
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.api;

import com.epam.http.annotations.ContentType;
import com.epam.http.annotations.POST;
import com.epam.http.annotations.ServiceDomain;
import com.epam.http.requests.RestDataMethod;
import com.epam.jdi.model.EntryCreatedAsyncRS;

import static io.restassured.http.ContentType.JSON;

@ServiceDomain("${api}")
public class LogAsyncControllerApi {

    /**
     * Create log
     *
     * @param projectName /path/ projectName (required)
     * @param createLogRQ(SaveLogRQ) /body/ createLogRQ (required)
     * @return EntryCreatedAsyncRS
     */
    @ContentType(JSON)
    @POST("/v2/{projectName}/log")
    public static RestDataMethod<EntryCreatedAsyncRS> createLogUsingPOST;
}
