/*
 * Report Portal
 * Report Portal API documentation
 *
 * OpenAPI spec version: 5.2.0
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.api;

import com.epam.http.annotations.*;
import com.epam.http.requests.DataMethod;
import com.epam.jdi.model.EntryCreatedRS;
import com.epam.jdi.model.IssueSubTypeCreatedRS;
import com.epam.jdi.model.OperationCompletionRS;
import com.epam.jdi.model.ProjectSettingsResource;

import static io.restassured.http.ContentType.JSON;

@ServiceDomain("${api}")
public class ProjectSettingsControllerApi {

    /**
     * Create pattern template for items&#39; log messages pattern analysis
     *
     * @param projectName /path/ projectName (required)
     * @param createPatternTemplateRQ(CreatePatternTemplateRQ) /body/ createPatternTemplateRQ (required)
     * @return EntryCreatedRS
     */
    @ContentType(JSON)
    @POST("/v1/{projectName}/settings/pattern")
    public static DataMethod<EntryCreatedRS> createPatternTemplateUsingPOSTJSON;

    /**
     * Creation of custom project specific issue sub-type
     *
     * @param projectName /path/ projectName (required)
     * @param request(CreateIssueSubTypeRQ) /body/ request (required)
     * @return IssueSubTypeCreatedRS
     */
    @ContentType(JSON)
    @POST("/v1/{projectName}/settings/sub-type")
    public static DataMethod<IssueSubTypeCreatedRS> createProjectIssueSubTypeUsingPOSTJSON;

    /**
     * Delete pattern template for items&#39; log messages pattern analysis
     *
     * @param id /path/ id (required)
     * @param projectName /path/ projectName (required)
     * @return OperationCompletionRS
     */
    @DELETE("/v1/{projectName}/settings/pattern/{id}")
    public static DataMethod<OperationCompletionRS> deletePatternTemplateUsingDELETE;

    /**
     * Delete custom project specific issue sub-type
     *
     * @param id /path/ id (required)
     * @param projectName /path/ projectName (required)
     * @return OperationCompletionRS
     */
    @DELETE("/v1/{projectName}/settings/sub-type/{id}")
    public static DataMethod<OperationCompletionRS> deleteProjectIssueSubTypeUsingDELETE;

    /**
     * Get project specific issue sub-types
     * Only for users that are assigned to the project
     *
     * @param projectName /path/ projectName (required)
     * @return ProjectSettingsResource
     */
    @GET("/v1/{projectName}/settings")
    public static DataMethod<ProjectSettingsResource> getProjectSettingsUsingGET;

    /**
     * Update pattern template for items&#39; log messages pattern analysis
     *
     * @param id /path/ id (required)
     * @param projectName /path/ projectName (required)
     * @param updatePatternTemplateRQ(UpdatePatternTemplateRQ) /body/ updatePatternTemplateRQ (required)
     * @return OperationCompletionRS
     */
    @ContentType(JSON)
    @PUT("/v1/{projectName}/settings/pattern/{id}")
    public static DataMethod<OperationCompletionRS> updatePatternTemplateUsingPUTJSON;

    /**
     * Update of custom project specific issue sub-type
     *
     * @param projectName /path/ projectName (required)
     * @param request(UpdateIssueSubTypeRQ) /body/ request (required)
     * @return OperationCompletionRS
     */
    @ContentType(JSON)
    @PUT("/v1/{projectName}/settings/sub-type")
    public static DataMethod<OperationCompletionRS> updateProjectIssueSubTypeUsingPUTJSON;
}
