/*
 * Report Portal
 * Report Portal API documentation
 *
 * OpenAPI spec version: 5.2.0
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.api;

import com.epam.http.annotations.ServiceDomain;
import com.epam.http.requests.RestMethod;

import com.epam.jdi.model.AnalyticsResource;
import com.epam.http.annotations.ContentType;
import static io.restassured.http.ContentType.JSON;
import com.epam.jdi.model.OperationCompletionRS;
import com.epam.http.annotations.GET;
import com.epam.http.annotations.POST;
import com.epam.http.annotations.PUT;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@ServiceDomain("${domain}")
public class SettingsControllerApi {

  /**
   * Get server settings
   * 
   * @return Map(String, String);
  */
  @GET("/v1/settings")
  public static RestMethod getServerSettingsUsingGET;

  /**
   * Update analytics settings
   * 
   * @param request(AnalyticsResource) /body/ request (required)
   * @return OperationCompletionRS
  */
  @ContentType(JSON)
  @POST("/v1/settings/analytics")
  public static RestMethod saveAnalyticsSettingsUsingPOSTJSON;

  /**
   * Update analytics settings
   * 
   * @param request(AnalyticsResource) /body/ request (required)
   * @return OperationCompletionRS
  */
  @ContentType(JSON)
  @PUT("/v1/settings/analytics")
  public static RestMethod saveAnalyticsSettingsUsingPUTJSON;
}
