/*
 * Report Portal
 * Report Portal API documentation
 *
 * OpenAPI spec version: 5.2.0
 * Contact: Support EPMC-TST Report Portal <SupportEPMC-TSTReportPortal@epam.com>
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.epam.jdi.api;

import com.epam.http.annotations.ContentType;
import com.epam.http.annotations.POST;
import com.epam.http.annotations.PUT;
import com.epam.http.annotations.ServiceDomain;
import com.epam.http.requests.RestDataMethod;
import com.epam.jdi.model.EntryCreatedAsyncRS;
import com.epam.jdi.model.OperationCompletionRS;

import static io.restassured.http.ContentType.JSON;

@ServiceDomain("${api}")
public class TestItemAsyncControllerApi {

    /**
     * Finish test item
     *
     * @param projectName /path/ projectName (required)
     * @param testItemId /path/ testItemId (required)
     * @param finishExecutionRQ(FinishTestItemRQ) /body/ finishExecutionRQ (required)
     * @return OperationCompletionRS
     */
    @ContentType(JSON)
    @PUT("/v2/{projectName}/item/{testItemId}")
    public static RestDataMethod<OperationCompletionRS> finishTestItemUsingPUT;

    /**
     * Start a child test item
     *
     * @param parentItem /path/ parentItem (required)
     * @param projectName /path/ projectName (required)
     * @param startTestItemRQ(StartTestItemRQ) /body/ startTestItemRQ (required)
     * @return EntryCreatedAsyncRS
     */
    @ContentType(JSON)
    @POST("/v2/{projectName}/item/{parentItem}")
    public static RestDataMethod<EntryCreatedAsyncRS> startChildItemUsingPOST;

    /**
     * Start a root test item
     *
     * @param projectName /path/ projectName (required)
     * @param startTestItemRQ(StartTestItemRQ) /body/ startTestItemRQ (required)
     * @return EntryCreatedAsyncRS
     */
    @ContentType(JSON)
    @POST("/v2/{projectName}/item")
    public static RestDataMethod<EntryCreatedAsyncRS> startRootItemUsingPOST;
}
